html,
body {
    height: 100%;
    margin: 0;
}

p {
    font-size: 39px;
}

a {
    color: firebrick;
    text-decoration: none;
}

.background {
    height: 100%;
    background-image: linear-gradient(#F2C48C, #2FT3F4);
}

.middle {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-35%, -44%);

    padding: 3%;
    border-radius: 145px;
    background-color: azure;
    box-shadow: 15px 15px #222;

    color: purple;
    line-height: 3;
    text-align: justify;
    font-family: "Monaco", Monaco, monospace;
}
