/*
Lab 3 CSS styles
CSS styles for Ultimate frisbee page
*/

body {
  color: red;
  font: 12pt "Tahoma", "Arial", sans-serif;
    background: violet;
    background-image: url(coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#wrapper{

}

#header {

}

#news {

}


#main {

}

#main img{

}
.altrow:nth-child(odd) {
    background-color: Blue;
;}
.altrow:nth-child(even) {
    background-color: blueviolet
;}
img{
    border: 2px solid blue;
}
footer {
font-size: small;
text-align: center    
}
table{
    border: 8px solid green
}
ul{
    color: blueviolet;
    background: darkcyan;
    font-family:serif;
    list-style-type: lower-roman;
}
a {
  color: hotpink;
}
h1{
font-family: fantasy
}
.mHeader{
    font-family: "Papyrus"
}
.hHeader{
    font-family: "Times New Roman"
}
.menuHeader{
    font-family: "Brush Script MT"
}